.item,
.card {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.item {
  margin-bottom: 10px;
}

.card {
  height: 100%;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}